<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="~/css/site.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header class="header">
        <div class="header__titulo">
            <h1 class="titulo">Store</h1>
        </div>
        <nav class="header__nav">
            <a asp-action="Index" asp-controller="Home">Home</a>
            <a asp-action="Index" asp-controller="Store">Index</a>
        </nav>
    </header>
    <main class="main">
        @RenderBody()
    </main>
    
    <footer class="footer">
        <h4>info@store.com</h4>
    </footer>
</body>
</html>
