
@{
    ViewData["Title"] = "TraerXPaisCiudad";
}

<h1>Busqueda por Ciudad</h1>

<div class="main__nav">
    <h2>Busqueda</h2>

    <nav class="nav">
        <a asp-action="Index" asp-controller="Store">Index</a>
        <a asp-action="TraerXPaisCiudad" asp-controller="Store">Buscar por Ciudad</a>

    </nav>
</div>

<section class="contenido">
    
</section>

